module.exports = [{
  pattern: 'http://example.host(:\d*)?(.*)',

  fixtures: function(match, params, headers, context) {
    if(match[2] === '/signalk') {
      const body = {
        endpoints: {
          v1: {
            version: "1.1.2",
            "signalk-http": "http://example.host:1234/signalk/v1/api/",
            "signalk-ws": "ws://example.host:1234/signalk/v1/stream"
          },
          v3: {
            version: "3.0",
            "signalk-http": "signalk/v3/api/",
            "signalk-ws": "ws://192.168.1.2/signalk/v3/stream"
          }
        }
      }
      return JSON.stringify(body);
    } else if(match[2] === '/signalk/v1/api/vessels/self') {
      const body = {
        electrical: {
          batteries: {
            1: {
              voltage: {
                meta: {
                  shortName: 'Volts',
                  longName: 'House Battery Voltage',
                  units: 'V',
                  min: 0,
                  max: 16
                },
                value: 14.3,
                '$source': 'sample.voltage',
                timestamp: '2017-06-05T04:03:02.001',
                pgn: 127508
              }
            }
          }
        }
      }
      return JSON.stringify(body);
    } else {
      throw new Error(match);
    }
  },

  get: function(match, data) {
    return {
      body: data
    };
  }
}]
